@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');
@import "tailwindcss";



@theme {
  --font-bitcount: Bitcount, sans-serif;
  --color-primary: #030014;
}

@layer base {
  body {
    background: #faf5f5;
    font-family: var(--font-bitcount);

  }

  h2 {
    font-family: var(--font-bitcount);
    color: var(--color-primary);
  }
}
@keyframes bob {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.star {
  position: absolute;
  z-index: 999;
  width: 40px;
  image-rendering: pixelated;
  animation: bob 2.5s ease-in-out infinite;
}